*, *:before, *:after {
  box-sizing: border-box;
}

.movie-details-card {
  color: #A9A8A3;
  padding: 40px 0;
}

h4 {
  color: white;
}

.runtime {
  color: white;
}

.container {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-top: 15%;
  width: 80%;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  background-size: 100%;
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
  max-width: 40%;
  max-height: 40%;
}

.details {
  padding-left: 37%;
  padding-top: 20%;
}
  
  
.title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}

.title2 {    
  color: white;
  font-size: 23px;    
  font-weight: 300;
  margin-bottom: 15px;
}

.description { 
  height: 100vh;
  font-size: 16px;
  line-height: 27px;
  color: black;

}

.column1 {
  padding-left: 50px; 
  padding-top: 120px; 
  width: 220px;
  float: left;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.tag {
  background: #A9A8A3;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 40%;
  line-height: 35px;
  position: relative;
}

.column2 {
  padding-top: 1%;
  padding-left: 2%;
  width: 480px;
  float: right;
}


