*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
  color: #5C7FB8
}

.movie-details-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

h4 {
    color: white;
}

.runtime {
    color: white;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  background-size: 100%;
}

.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
  max-width: 40%;
  max-height: 40%;
}

.details {
  padding: 190px 0 0 280px;
}
  
  
.title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}
    
span {
  position: absolute;
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: #544C21;
  font-size: 14px;
  padding: 0px 4px;
}

.title2 {    
color: white;
font-size: 23px;    
font-weight: 300;
margin-bottom: 15px;
}


.description { 
  bottom: 0px;
  height:100vh;
  font-size: 16px;
  line-height: 26px;
  color: black;
}

.column1 {
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 60%;
  line-height: 35px;
  cursor: pointer;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left;
}


