html {
  background-image: linear-gradient(#202020	, #303030);
  height: 100vh;
  width: 100vw;
}   

nav {
  overflow: hidden;
  z-index: 10000;
  background-color: #202020;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title:hover {
  opacity:0.5;
  transform: scale(1.01);

}

h1 {
  font-family: 'Notable', sans-serif;
}