.movie-card {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 31vh;
  width: 11vw;
  opacity:0.8;
  margin: 1%
}

.movie-card:hover {
 transform: scale(1.2);
 opacity: 1;
 border: 2px solid;
 border-color: white;
 border-radius: 5px;
}

.title-rating {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  /* overflow-wrap: break-word; */
  word-break:break-all
}

img {
  max-width:100%;
  max-height:100%;
}
